.container-modal {
  background-color: #dddddd;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.modal {
  &__first {
    width: 550px;
    height: 250px;
    background-color: #e74c3c;
    margin-top: 50px;
    border-radius: 4px;
  }
  &__question {
    color: white;
    font-size: 25px;
    margin-left: 25px;
  }
  &__header {
    background-color: #d44637;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
  }
  &__btnText {
    color: white;
    text-align: center;
    line-height: 35px;
    margin-top: 25px;
  }
  &__wrapper-btn {
    display: flex;
    justify-content: center;
  }
  &__btn {
    width: 102px;
    height: 42px;
    background-color: #b3382c;
    margin-left: 10px;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  &__btn:hover {
    opacity: 0.6;
  }
  &__btn2 {
    width: 102px;
    height: 42px;
    background-color: #6d6c6c;
    margin-left: 10px;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  &__btn2:hover {
    opacity: 0.6;
  }
  &__btn2.cancel {
    background-color: #773838;
  }
  &__second {
    width: 550px;
    height: 250px;
    background-color: #9e9a9a;
    margin-top: 50px;
    border-radius: 4px;
  }
}
.close {
  position: relative;
  right: 10px;
  top: 23px;
  width: 32px;
  height: 32px;
}
.close:hover {
  opacity: 0.5;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.container-modal.open {
  display: flex;
  justify-content: center;
}

.container-modal.close {
  display: none;
}
