.wrap {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.button {
  &__first {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }

  &__first:hover {
    opacity: 0.6;
  }
}
